*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.header{
    background-color: black;
    color: white;
    width: 100wh;
    height: 12rem;
    text-align: center;
    font-size:  4rem;
    justify-content: center;

    
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:  center;
    background-image: url(depositphotos_22104925-stock-photo-game-controller-and-blue-light\ 1.jpg.png);
    height: 800px;
    width: 100wh;
    background-size: 100vw;
 
}
.input{
    width: 359px;
    height: 53px;
    text-align: center;
    align-items: center;
   
}

.button{
    width: 359px;
    height: 53px;
    gap: 28px; /*nao funcionando */
    background-color: rgb(107, 223, 238);
}
