* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(34, 33, 33);
  color: white;
  height: 12rem;
  text-align: center;
  font-size: 4rem;
  justify-content: center;      
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: url(depositphotos_22104925-stock-photo-game-controller-and-blue-light\ 1.jpg.png);
  width: 100%;
  height: 78vh;
  background-size: cover;
  background-color: rgb(146, 210, 247);
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.input {
  width: 350px;
  height: 53px;
  text-align: center;
  align-items: center;
}

.button {
  width: 350px;
  height: 53px;
  gap: 28px; /*nao funcionando */
  background-color: #5EA4F8;
  margin-top: 35px;
  font-size: 16px;
}

.conectar {
  width: 350px;
  height: 53px;
  background-color: white;
  border: solid 1px black;
  margin-top: 35px;
  justify-content: center;
  padding: 13px 8px;
}
.acesso {
  background-color: white;
  width: 350px;
  height: 53px;
  border: solid 1px black;
  justify-content: center;
  margin-top: 123px;
  margin-bottom: 35px;
  padding: 8px;
  font-family: 'Nunito Sans', sans-serif;
}

.container-redes{
  display: flex;
  flex-direction: row;
  gap: 63px;
  
}
.container-redes .imagem-rede{
  width: 100%;
  margin-top: 5px;
  display: flex;
}


p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}
strong{

  color: rgb(10, 132, 202);
}


strong:hover {

  color: red;
}
.button:hover{
  font-size: 18px;
  color: red;
}


.conectar-fim{
  width: 350px;
  height: 53px;
  background-color: white;
  border: solid 1px black;
  margin-top: 20px;
  justify-content: center;
  padding: 13px 8px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.link-saibaMais{
  text-decoration: none;
  font-size: 16px;
  color:  rgb(10, 132, 202);
}
.link-saibaMais:hover{
  color: red;
}
a:hover {

  color: red;
}

.img-suporte{
 margin-left: 1055px;
 
 

}

.mensagemBoasVindas{
  color: white;
  font-size: 28px;
  padding: 1rem;
}

.home{
font-size: 2rem;

}

.jogos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.card-jogos{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  justify-content: space-between;
  
}

.botao-jogar{
  width: 4rem;
  border-radius: 1rem;
}

.imagem-card{
  width: 10rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}



@media screen and (max-width: 319px) {
  .container{
    height: 114vh;
    
  }
  .jogos{
    flex-direction: column;
}
.img-suporte{
  margin-left: 0;
  font-size: 16px;
  
}
 .header {
  height: 7rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
       
}




}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container{
    height: 114vh;
    
  }
  .jogos{
      flex-direction: column;
  }
  .img-suporte{
    margin-left: 0;
    font-size: 16px;
    
  }
   .header {
    height: 8rem;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
         
  }
  .acesso{
    font-size: 14px;
  }
  
   .button, .conectar, .acesso, .input, .conectar-fim{
    width: 300px;
   }

 
   }
   

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container{
    height: 110vh;
    
  }
  .img-suporte{
    margin-left: 0;
    font-size: 16px;
    
  }
   .header {
    height: 10rem;
    text-align: center;
    font-size: 3rem;
         
  }
   }

   @media screen and (min-width: 769px) and (max-width: 1024px) {
  .container{
    height: 105vh;
    
  }
  .img-suporte{
    margin-left: 0;
    font-size: 16px;
    
  }


}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .container{
    height: 90vh;
    
  }
  .img-suporte{
    margin-left: 580px;
    font-size: 16px;
    
  }
}

@media screen and (min-width: 1200px) {
  .container{
    height: 90vh;
    
  }
  .img-suporte{
    margin-left: 580px;
    font-size: 16px;
    
  }
}